main {
    display: block;
    margin: 0;
    padding: 0;
    height: auto;
}
div.points {
    width: 600px;
    height: 400px;
    margin: 130px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr); 
}

div.points div.bloc {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
}

div.points div.bloc p.head {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
    background: #333;
    color: #fff;
}
div.points div.bloc p.icon {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 5em;
	color: rgb(0,104,55);
}
div.points div.bloc p.main {
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 2em;
    font-weight: bolder;
	color: rgb(0,104,55);
}
div.points div.bloc p.main a {
    color: rgb(0,104,55);
    text-decoration: none;
}


@media screen and (max-width: 500px) {
    div.points {
        width: 100%;
        height: auto;
        margin: 70px auto;
        display: block;
    }
    div.points:after {
        display: block;
        width: 100%;
        height: 50px;
        content: '';
    }

    div.points div.first-line,
    div.points div.second-line {
        width: 100%;
        height: auto;
        margin: 0;
        display: block;
    }
    div.points div div.bloc {
        width: calc(100% - 20px);
        margin: 10px auto;
    }

    div.points div div.bloc p.head {
        width: 100%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        margin: 0;
        padding: 0;
        background: #333;
        color: #fff;
    }
    div.points div div.bloc p.icon {
        width: 100%;
        height: 100px;
        line-height: 100px;
        text-align: center;
        margin: 0;
        padding: 0;
        font-size: 5em;
        color: rgb(0,104,55);
    }
    div.points div div.bloc p.main {
        width: 100%;
        height: 70px;
        line-height: 70px;
        text-align: center;
        margin: 0;
        padding: 0;
        font-size: 2em;
        font-weight: bolder;
    }
}