main {
	display: flex;
	align-items: center;
    justify-content: center;
}	

div.admin p.title {
		text-align: center;
}

div.admin {
	width: 90%;
	height: calc(100% - 120px);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
	overflow: hidden;
}
div.admin div.teams {
	width: 100%;
	height: 100%;
	/* height: calc(100% -500px); */
	/* height: 737px; */
	overflow: hidden;
}
div.admin div.teams div.team {
	width: 100%;
    height: auto;
	margin: 5px 0;
	padding: 15px;
	background-color: rgba(255,255,255,0.8);
    border-radius: 15px;
}
div.admin div.teams div.team:first-child {
	height: auto;
	height: 170px;
    margin: 0;
}
div.admin div.teams div.team:last-child {
	height: calc(100% - 175px);
    overflow: auto;
}
div.admin div.teams div.team ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
div.admin div.teams div.team ul li {
	width: auto;
	height: 25px;
	line-height: 25px;
}
div.admin div.teams div.team ul li img {
	width: auto;
	height: 20px;
}
div.admin div.teams div.team ul li a {
	text-decoration: none;
    color: #333;
}

div.admin div.games {
	width: 100%;
	height: 100%;
}
div.admin div.games div.game {
	padding: 15px;
	background-color: rgba(255,255,255,0.8);
    border-radius: 15px;
	overflow: auto;
}
div.admin div.games div.game:first-child {
	height: 355px;
}
div.admin div.games div.game:last-child {
    margin: 5px 0 0 0;
	height: calc(100% - 360px);
}
div.admin div.games div.game p {
	width: 100%;
	height: 25px;
	line-height: 25px;
}
div.admin div.games div.game p img {
	display: inline-block;
	margin: 0 2px;
	width: 25px;
	height: 25px;
}
div.admin div.games div.game ul {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}
div.admin div.games div.game ul li {
	width: 100%;
    height: auto;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
	overflow: hidden;
}
div.admin div.games div.game ul li em {
	display: inline-block;
	width: 85px;
    text-align: left;
	font-size: 0.8em;
    line-height: 25px;
    vertical-align: middle;
}
div.admin div.games div.game ul li span.team {
	display: inline-block;
	width: calc(50% - 43px);
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    overflow: hidden;
}
div.admin div.games div.game ul li img {
	display: inline-block;
	width: 25px;
    height: 25px;
    line-height: 25px;
    vertical-align: top;
    margin: 0 3px;
}
div.admin div.games div.game ul li label {
	display: inline-block;
	width: calc(100% - 35px);
}
div.admin div.games div.game p.match strong {
	display: inline-block;
	width: calc(50% - 29px);
	height: 25px;
	overflow: hidden;
	vertical-align: middle;
	padding: 0 2px;
}
div.admin div.games div.game p.match strong.v {
	text-align: right;
}
div.admin div.players {
	width: 100%;
	height: 100%;
	padding: 15px;
	background-color: rgba(255,255,255,0.8);
    border-radius: 15px;
    overflow: auto;
}
div.admin div.players ol li {
	height: 25px; 
	line-height: 25px; 
}
div.admin div.players ol li::marker {
	display: inline-block;
	width: 50px; 
}
div.admin div.players ol li span {
	display: inline-block;
	width: calc(100% - 52px); 
}
div.admin div.players ol li strong {
	display: inline-block;
	width: 50px; 
}


$div.admin div form {
	width: 100%;
	height: auto;
}
div.admin div form label,
div.admin div form select,
div.admin div form input[type="text"],
div.admin div form.score input[type="number"],
div.admin div form input[type="submit"] {
	width: 100%;
	height: 40px;
	line-height: 40px;
    display: block;
    padding: 0 10px;
    margin: 5px 0;
    border-radius: 20px;
    border: solid 1px rgba(0,0,0,0.3);
}
div.admin div form input.score {
	width: 40px;
	height: 40px;
	line-height: 40px;
    display: inline-block;
}
div.admin div form input[type="date"] {
	width: calc(100% - 50px);
    display: inline-block;
	height: 40px;
	line-height: 40px;
    padding: 0 10px;
    margin: 5px 0;
    border-radius: 20px;
    border: solid 1px rgba(0,0,0,0.3);
}
div.admin div form input[type="checkbox"] {
	width: 40px;
    display: inline-block;
}
div.admin div form label {
	color: rgba(0,0,0,0.6);
}


@media screen and (max-width: 500px) {
    div.admin {
        display: block;
        height: calc(100% - 150px);
        overflow: auto;
    }
}
