div.home {
    width: 100%;
    height: auto;
    overflow: auto;
    display: block;
    margin: 0;
    padding: 60px 0;
}

div.home h2 {
    text-align: center;
    font-style: italic;
}

div.home div.login {
    width: 100%;
    height: auto;
    margin: 20px auto;
    padding: 5px 10px;
    text-align: center;
    border-radius: 10px;
}
div.home div.login a {
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 300px;
    background-color: rgb(0,104,55);
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
}

div.nogame {
    position: fixed; 
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.games {
    width: 500px; 
    height: auto; 
    margin: 0 auto;
    display: block;
}
div.games div.head {
    width: 100%; 
    height: auto; 
    padding: 0;
    margin: 0;
}

div.games p.date {
    display: block;
    width: 100%;
    background: #333;
    color: #fff;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    text-align: center;
}
div.games p.date span {
    display: inline-block;
    display: none;
    width: 25px;
    height: 25px;
    line-height: 25px;   
    vertical-align: middle;
    margin: 0 10px;
    margin-left: -20px;
}
div.games p.competition {
    display: block;
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}
div.games p.competition img {
    display: inline-block;
    margin-right: 5px;
    width: auto;
    height: 25px;
    line-height: 25px;
}

div.games div.game {
    width: 100%; 
    height: auto; 
    padding: 0;
    border-radius: 4px;
    display: block;
    margin: 20px 0;
    background: #fff;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
}

div.games div.game div.teams {
    height: 100px;
    display: block;
    text-align: center;
    margin: 10px 0;
}
div.games div.game div.teams div.inline {
    display: block;
    float: left;
    width: calc(100% / 3);
}
div.games div.game div.teams div.form {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.games div.game div.teams div.msg {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.games div.game div.teams div.msg p {
    font-size: 0.9em;
}
div.games div.game div.teams div.msg p a {
    display: inline-block;
    background: #333;
    color: #fff;
    border-radius: 8px;
    border: solid 1px #333;
    text-decoration: none;
    padding: 5px 15px;
    transition: all 0.5s ease;
}
div.games div.game div.teams div.msg a:hover {
    background: #fff;
    color: #333;
    transition: all 0.5s ease;
}
div.games div.game div.teams div.inline p.empty {
    color: #fff;
}
div.games div.game div.teams div.team div.logo {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.games div.game div.teams div.team div.logo img {
    display: block;
    margin: 0 auto;
    height: 30px;
    width: 30px;
}
div.games div.game div.teams div.team div.logo {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
div.games div.game div.teams div.team div.logo img {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: auto;
}
div.games div.game div.closed {
    display: flex;
    margin: 0;
    padding: 0;
    background: #dbdbdb;
    color: #333;
    width: 100%;
    height: 50px;
}
div.games div.game div.closed div.picto {
    display: flex;
    width: 50px;
    height: 50px;
    line-height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}
div.games div.game div.closed div.msg {
    display: flex;
    width: calc(100% - 50px);
    height: 50px;
    line-height: 50px;
    align-items: center;
    justify-content: center;
}
div.games div.game div.closed div.msg p {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    width: 100%;
}
div.games div.game div.closed div.msg p a {
    color: #000;
}

div.games div.game form.bet {
    width: 100%;
    padding: 0;
}
div.games div.game form.bet div.team {
    display: inline-block;
    width: calc(50% - 2px);
    text-align: center;
}
div.games div.game form.bet div.team input[type="number"] {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 1.5em;
}
div.games div.game form.bet div.submit {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px 0;
}
div.games div.game form.bet div.submit input {
    background-color: #333;
    color: #fff;
    border: 0;
    padding: 5px 20px;
}

@media screen and (max-width: 940px) {
    div.home h2 {
        font-size: 1.1em;
    }
    div.games {
        display: block;
        width: 470px;
        height: auto;
        position: relative;
    }
    div.games div.game {
        width: 100%;
        margin: 10px 0;
    }
    div.games div.game div.teams div.team a {
        font-size: 0.8em;
    }
}
@media screen and (max-width: 470px) {
    div.home h2 {
        font-size: 1.1em;
    }
    div.games {
        display: block;
        width: 80%;
        height: auto;
        position: relative;
    }
    div.games div.game {
        width: 100%;
        margin: 10px 0;
    }
}

