main {
	display: flex;
	align-items: center;
    justify-content: center;
}	
div.game {
	width: auto;
	height: auto;
	background: rgba(255,255,255,0.3);
	padding: 15px;
	border-radius: 5px;
    margin: 60px 0;
}	
div.game p.date {
	width: 100%; 
    line-height: auto; 
    text-align: center;
    font-size: 1.3em;
    font-family: 'Cooper Black', 'Trebuchet MS';
}

div.game div.teams {
	width: 100%;
	display: flex;
}
div.game div.teams div.team {
    width: 50%;
    padding: 10px;
	text-align: center;
	vertical-align: top;
}
div.game div.teams div.team div.logo {
    height: 120px;
}
div.game p.instructions {
    width: 100%;
    text-align: center;
}
div.game form {
    width: auto;
    height: auto;
}
div.game form div.teams {
    display: flex;
    width: 100%;
}
div.game form div.teams div.team {
    width: 50%;
}
div.game form div.teams input[type="number"] {
	display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    border: solid 1px #000;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.5em;
    background-color: rgba(255,255,255,0.5);
    font-weight: bold;
    color: #000;
}
div.game form input[type="submit"] {
	display: block;
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 10px;
    font-weight: bold;
    background: #000;
    color: #fff;
    margin: 0 auto;
}
@media screen and (max-width: 500px) {
	div.game {
		margin: 70px 5px;
		padding: 5px;
		border-radius: 0;
	}	
	div.game div.teams {
		width: 100%;
		grid-gap: 20px;
	}
}
