div#cadeau {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.cadeau {
    width: 90%;
    height: calc(100% - 100px);
    margin: 0 auto;
    padding: 50px;
    background: rgba(255, 255, 255, 0.7);
    text-align: center;
    overflow: auto;
}

h2 {
    margin: 20px 0;
}

div.images {
    margin: 50px 0;
}

img.logo,
img.park {
    height: 100px; 
    width: auto;
    display: inline-block;
    margin: 0 20px; 
}

ol {
    font-size: 1.5em;
    margin: 50px auto;
    text-align: left;
    width: 700px;
}
ol a {
    color: #000;
    font-weight: bolder;
}

div.partenaires {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
}
div.partenaires a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}