
header, nav, select, button, tfoot, footer {
    display:none;
}

.max-w-7xl {
    max-width:100%;
    width: 100%;
}

main>div>main>div>div:nth-child(3) {
    /* Bandeau competition */
    padding:50px;
}

main>div>main>div>div:nth-child(3)>div>img {
    /* Image competition */
    width:6rem;
    max-height:6rem;
}

main>div>main>div>div:nth-child(3)>div {
    /* Text competition */
    padding: 40px;
}

main>div>main>div>div:nth-child(3)>div>h4 {
    /* Titre competition */
    font-size:24px;
    margin-bottom:20px;
}

main>div>main>div>div:nth-child(3)>div>p {
    /* Sous-titre competition */
    font-size:18px;
}

main>div>main>div>div:nth-child(4)>div:nth-child(1) {
    width: 90%;
}

main>div>main>div>div:nth-child(4)>div:nth-child(1)>span,
main>div>main>div>div:nth-child(4)>div:nth-child(2)>span,
main>div>main>div>div:nth-child(5)>div:nth-child(2)>div>div>h3,
main>div>main>div>div:nth-child(5)>div:nth-child(1)>h4
{
    /* Titre Tableau 1,2, 4 */
    font-size:24px;
    font-weight:bold;
}

main>div>main>div>div:nth-child(4)>div:nth-child(2) {
    width:90%;
    justify-self: right;
}

main>div>main>div>div:nth-child(5) {
    margin-top: 50px;
}

main>div>main>div>div:nth-child(5)>div:nth-child(1) {
    max-width:80%;
}

main>div>main>div>div:nth-child(5)>div:nth-child(1)>div>div {
    /* Correction tableau 3 */
    margin-bottom:0px;
}

main>div>main>div>div:nth-child(5)>div:nth-child(2)>div>div {
    /* Correction tableau 4 */
    padding:0px;
}

.gap-2 {
    gap:0;
}

.shadow-xl {
    box-shadow:none;
}

*, html, body, main, div, :root, [data-theme] {
    background-color: white;
}

main, th, span, tr, .text-gray-200, .text-gray-300 {
    color: black !important;
}

div.logo {
    display:none;
}

nav.nav, header.header {
    display: block;
}

main > div {
    margin-bottom: 50px;
}
